body { 
   background-image: url('https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ea7aeb5fc4e3623a3f16af817ec12129&auto=format&fit=crop&w=1355&q=80');
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
body.fondo { 
   background-image: url('https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-0.3.5&s=9e80ed529873232668a60398f3711f29&auto=format&fit=crop&w=1350&q=80');
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.dropdown {
  position: relative;
   display: inline-block;
}

.dropdown-content {
    display: none;
    position: center;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.0);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#form1{

  border-radius: 4px;
  background: rgba(0,0,0,0.15);
  border-radius: 5px;
  margin: 1px auto;
  padding: 20px;
}

#form2 { 


  border-radius: 4px;
  background: rgba(0,0,0,0.15);
  border-radius: 5px;
  margin: 1px auto;
  border-color: blue;
  padding: 20px;


}

.pglo {

    margin-bottom: 65px; 
    font: black;
}

.hea {

    height: 140px;
    text-align: center;
    margin-top: 200px;
    color:white;
}
.foot{
  border-color: blue;
  border-radius: 4px;
  border-radius: 5px;
  margin: 50px auto;
    
}
.contra {


  border-radius: 6px;



}
.modificarcss {

  background: rgba(0,0,0,0.20) none repeat scroll 0 0;
  border-radius: 5px;
  margin: 2px auto;  
  padding: 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
      

}
.iniciar {


background: rgba(0,0,0,0.20);
  border-radius: 5px;
 
  font-family: "Comic Sans MS", cursive, sans-serif;



}
.loginsirno {

background: rgba(0,0,0,0.15);
 font-family: "Comic Sans MS", cursive, sans-serif;


}
.campodetexto  { 

  border-radius: 5px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.error {

background: rgba(0,0,0,0.20);
font-family: "Comic Sans MS", cursive, sans-serif;


  }

.fondotabla { 


  background: rgba(0,0,0,0.10);
  font-family: "Comic Sans MS", cursive, sans-serif;


   }
.tablaindex {

 background: rgba(0,0,0,0.15);
 font-family: "Comic Sans MS", cursive, sans-serif;


  }
.formuentrada { 


  background: rgba(0,0,0,0.15);
 font-family: "Comic Sans MS", cursive, sans-serif;

}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

